.background{
    background-color: #0a1128;
    background-size: cover
}
.words{
    color: #e2eafc;
}
li{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p{
    padding: 30px;
}
.h3{
    padding: 5px;
}

.div{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15px;
}
.img{
    max-width: 670px;
    margin: 0px;
}
.h1{
    margin: 0px;
    padding: 17px;
    margin-bottom: 30px;
}
.div2{
    padding: 14px;
}
.button {
    background-color: #0a1128 ;
    flex-direction: column;
    color: #e2eafc;
    font-size: 15px;
    font-family: Helvetica;
    border-radius: 30px;
    border: #e2eafc solid 3px;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #e2eafc;
    color: #0a1128;
    transition-delay: 0.2s;
    transition: 0.8s;
    border: #0a1128 solid 3px;
}
.segundoB{
    margin: 44px;
    background-origin: padding-box;
    background-color: #e2eafc;
    border-radius: 21px;
    color: #0a1128;
    opacity: 0.8;
}