.div{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.button {
    background-color:  #e2eafc;
    flex-direction: column;
    color: #0a1128;
    font-size: 13px;
    font-family: Helvetica;
    border-radius: 6px;
    border: #e2eafc solid 3px;
    padding: 4px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #0a1128 ;
    color:  #e2eafc;
    transition-delay: 0.2s;
    transition: 0.8s;
    border: #e2eafc solid 3px;
}
.input{
    width: 60%;
    height: 14px;
    padding: 6px;
    border-width: 2px;
    border-color: #0a1128;
    border-radius: 6px;
    font-size: 13px;
}